#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a uptime-kuma instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman uptime-kuma.service
Requires=uptime-kuma-mariadb.service uptime-kuma-app.service
Before=uptime-kuma-mariadb.service uptime-kuma-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%E/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/uptime-kuma.pid %t/uptime-kuma.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/uptime-kuma.pid  --pod-id-file %t/uptime-kuma.pod-id  --name uptime-kuma  --publish 127.0.0.1:${TCP_PORT}:3001  --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/uptime-kuma.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/uptime-kuma.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/uptime-kuma.pod-id
PIDFile=%t/uptime-kuma.pid
Type=forking

[Install]
WantedBy=default.target
