#
# Copyright (C) 2026 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman uptime-kuma-mariadb.service
BindsTo=uptime-kuma.service
After=uptime-kuma.service
Before=uptime-kuma-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%E/state/environment
WorkingDirectory=%E/state
Restart=always
TimeoutStartSec=300
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/uptime-kuma-mariadb.pid %t/uptime-kuma-mariadb.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/uptime-kuma-mariadb.pid --cidfile %t/uptime-kuma-mariadb.ctr-id \
   --cgroups=no-conmon --pod-id-file %t/uptime-kuma.pod-id --replace -d --name uptime-kuma-mariadb \
   --volume mariadb-data:/var/lib/mysql:Z \
   --env-file database.env \
   ${MARIADB_IMAGE}
ExecStartPost=runagent wait-mariadb
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/uptime-kuma-mariadb.ctr-id -t 10
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/uptime-kuma-mariadb.ctr-id
PIDFile=%t/uptime-kuma-mariadb.pid
Type=forking

[Install]
WantedBy=default.target
